@model BookStore.Models.DataModel.IndexDataModel

@{
    ViewData["Title"] = "Home";
}


<main role="main">

	@await Component.InvokeAsync("Dashboard")
	@await Component.InvokeAsync("Book")
	@await Component.InvokeAsync("Author")
	@await Component.InvokeAsync("Quote")


	@* @await Component.InvokeAsync("Essay") *@
		

</main>

<!-- End main content -->
<!-- Start footer -->
<footer id="mu-footer" role="contentinfo" style="background-color:#113f67;color:white">
	<div class="container" style="color:white;border-color:white">
		<div class="mu-footer-area" style="border-color:white">
			<div class="social-links">
				<a href=""><img style="width:40px;height:40px;" src="~/img/facebook_blue.png" alt="Facebook"></a>
				<a href=""><img style="width:40px;height:40px;" src="~/img/instagram_blue.png" alt="Instagram"></a>
				<a href=""><img style="width:40px;height:40px;" src="~/img/twitterfilled.png" alt="Twitter"></a>
				<a href=""><img style="width:40px;height:40px;" src="~/img/linkedin_blue.png" alt="LinkedIn"></a>
			</div>
			<p class="mu-copyright">
				All your favorite books in one
				place, welcome to the world of
				readers, where every page turns
				into an adventure.
			</p>
			<p class="mu-copyright">&copy; Copyright BookStore. All right reserved.</p>
		</div>
	</div>

</footer>
<!-- End footer -->
