@model BookStore.Models.DataModel.IndexDataModel

@{
    ViewData["Title"] = "Home";
}


<!-- Start Header -->
@await Component.InvokeAsync("Menu")
<!-- End Header -->


<!-- Start Featured Slider -->
@await Component.InvokeAsync("AdsSlider")

<!-- Start Featured Slider -->
<!-- Start main content -->


<main role="main">
	<!-- Start Counter -->
	@await Component.InvokeAsync("Dashboard")
	<!-- End Counter -->
	@await Component.InvokeAsync("Author")
	<!-- Start Book Overview -->
	
	<!-- Start Contact -->
	<section id="mu-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-contact-area">

						<div class="mu-heading-area">
							<h2 class="mu-heading-title">Drop Us A Message</h2>
							<span class="mu-header-dot"></span>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
						</div>

						<!-- Start Contact Content -->
						<div class="mu-contact-content">

							<div id="form-messages"></div>
							<form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
								</div>
								<div class="form-group">
									<textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
								</div>
								<button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
							</form>

						</div>
						<!-- End Contact Content -->

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact -->
	

</main>

<!-- End main content -->
<!-- Start footer -->
<footer id="mu-footer" role="contentinfo" style="background-color:#113f67;color:white">
	<div class="container" style="color:white;border-color:white">
		<div class="mu-footer-area" style="border-color:white">
			<div class="mu-social-media" style="color:white">
				<a href="#"><i class="fa fa-facebook" style="color:white"></i></a>
				<a href="#"><i class="fa fa-twitter" style="color:white"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
			</div>
			<p class="mu-copyright">&copy; Copyright BookStore. All right reserved.</p>
		</div>
	</div>

</footer>
<!-- End footer -->
