
@{
    ViewData["Title"] = "NotFound";
}

<body>

    <div class="container">
        <!-- Left Sidebar -->
        @Html.Partial("LeftSidebar")


        <!-- Main Content -->
        <div class="main-content">
            <h4>Not found</h4>
            <br />
            <div>
                404 Page Not Found
            </div>
           
            
        </div>
    </div>

</body>
