@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @ViewData["Title"]- Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
</head>
<body>
   @* <header>
        <nav>
            <!-- Social media icons -->
            <div class="social-icons">
                <a href="https://www.facebook.com">
                    <img style="width:22px;hight:22px;" src="~/img/icons8-facebook-48 (1).png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com"><img style="width:20px;hight:20px;" src="~/img/icons8-instagram-48 (1).png" alt="Instagram"></a>
                <a href="https://www.x.com"><img style="width:20px;hight:20px;" src="~/img/icons8-twitterx-32 (1).png" alt="X" type="image/x-icon"></a>
                <a href="https://www.linkedin.com"><img style="width:23px;hight:23px;" src="~/img/icons8-linkedin-48.png" alt="LinkedIn"></a>
            </div>

            <!-- Login and Register -->
            <div class="auth">
                
                    @if (_signInManager.IsSignedIn(User))
                    {
                        

                    <a class="text-dark" style="text-decoration: none;">
                        @User.Identity!.Name
                    </a>

                    <span class="divider">|</span>

                    <form method="post" asp-action="Logout" asp-controller="Account" id="logoutForm" style="display:inline;">
                            <a href="javascript:void(0)" class="nav-link text-dark" onclick="document.getElementById('logoutForm').submit();">
                                <i class="material-icons" style="font-size:20px; vertical-align: middle; margin-right: 2px;">exit_to_app</i>
                                Logout
                            </a>
                    </form>
                   


                    }
                    else
                    {

                    <a class="text-dark" style="text-decoration: none;" asp-action="Login" asp-controller="Account">
                        <img src="~/img/Login.png" alt="Login">
                        Login
                    </a>

                    <span class="divider">|</span>

                    <a class="text-dark" style="text-decoration: none;" asp-action="Register" asp-controller="Account">
                        <img src="~/img/Register.png" alt="Register">
                        Register
                    </a>

                    }


                </ul>
                    




            </div>

        </nav>
    </header>
    *@

    <div class="container">
        <div class="sidebar col-md-3">
            <h4>Admin Panel</h4>
            
               
            <table>
                <tr>
                    <td><img src="~/img/Dashboard.png" alt="Ad" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="ControlPanel" style="text-decoration:none;color:black;">Dashboard</a></td>
                </tr>
                <tr>
                    <td><img src="~/img/menu.png" alt="Menu" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="Menu" style="text-decoration:none;color:black;">Menus</a></td>
                </tr>

                <tr>
                    <td><img src="~/img/Ad.png" alt="Ad" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="AdsSlider" style="text-decoration:none;color:black;">Ads</a></td>
                </tr>
                <tr>
                    <td><img src="~/img/author.png" alt="Author" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="Author" style="text-decoration:none;color:black;">Authors</a></td>
                </tr>
                 <tr>
                    <td><img src="~/img/book.png" alt="Book" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="Book" style="text-decoration:none;color:black;">Books</a></td>
                </tr>
               @*  <tr>
                    <td><img src="~/img/Essay.png" alt="Essay" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="Essay" style="text-decoration:none;color:black;">Essays</a></td>
                </tr> *@
                <tr>
                    <td><img src="~/img/quote-48.png" alt="Quote" style="width: 20px; height: 20px;"></td>
                    <td><a asp-action="Index" asp-controller="Quote" style="text-decoration:none;color:black;">Quotes</a></td>
                </tr>

            </table>

                
            
        </div>
        <div class="content">

            @RenderBody()

        </div>
        
     
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>

</html>
<style>
    body, html {
        background-color: #5c5470 !important;
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .input:focus {
        box-shadow: 0 0 0 0.2rem #5c5470 !important;
        border-color: #5c5470 !important;
        outline: none;
    }

    .form-check-input:checked {
        background-color: #5c5470;
        border-color: #5c5470;
    }


        .form-check-input:checked::before {
            background-color: #dbd8e3;
            border-radius: 2px;
        }


    .form-check-input:focus {
        box-shadow: 0 0 0 0.1rem #5c5470;
         outline: none;
    }

    select.form-control {
        color: #5c5470;
        border-color: #5c5470;
    }

        select.form-control option:checked, select.form-control option:hover {
            background-color: #5c5470;
            color: #fff;
        }

        select.form-control:focus {
            background-color: #dbd8e3;
            color: #5c5470;
            border-color: #5c5470;
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(92, 84, 112, 0.5);
        }

        select.form-control option:hover {
            background-color: #5c5470 !important; 
            color: #fff;
        }

   




</style>