@model BookStore.Models.Essay

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Essay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EssayTitle" class="control-label"></label>
                <input asp-for="EssayTitle" class="form-control" />
                <span asp-validation-for="EssayTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EssayDescription" class="control-label"></label>
                <input asp-for="EssayDescription" class="form-control" />
                <span asp-validation-for="EssayDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EssayAuthor" class="control-label"></label>
                <input asp-for="EssayAuthor" class="form-control" />
                <span asp-validation-for="EssayAuthor" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="EssayImagePath" class="control-label"></label>
                <input asp-for="EssayImagePath" class="form-control" />
                <span asp-validation-for="EssayImagePath" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="imageFile">Upload Essay Image</label>
                <input type="file" name="imageFile" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

