<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - BookStore</title>
   
    <link rel="shortcut icon" type="image/icon" href="~/img/Logo.png"/>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 


      @* Store2Design file *@
    <link href="~/Store2Design/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Store2Design/assets/css/slick.css" rel="stylesheet">
    <link id="switcher" href="~/Store2Design/assets/css/theme-color/default-theme.css" rel="stylesheet">
    <link href="~/Store2Design/style.css" rel="stylesheet">

	 
   
 
    @* StoreDesign Folder *@
     <link rel="stylesheet" href="~/StoreDesign/css/style.css">

 

  </head>

  <body>
    @await Component.InvokeAsync("Menu")
    @await Component.InvokeAsync("AdsSlider")
    @RenderBody()
	

    @* Store2Design file *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="~/Store2Design/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Store2Design/assets/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Store2Design/assets/js/counter.js"></script>
    <script type="text/javascript" src="~/Store2Design/assets/js/app.js"></script>
	<script type="text/javascript" src="~/Store2Design/assets/js/custom.js"></script>
	</body>
</html>