
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<head>
    <link rel="stylesheet" href="~/css/AdminStyle.css" />

</head>
<div class="sidebar">
    <ul>
        <li><a asp-action="" asp-controller="" class="btn">Dashboard</a></li>
       @*  <li><a asp-action="RolesList" asp-controller="Account" class="btn">Roles</a></li> *@
        <li><a asp-action="" asp-controller="" class="btn">Menus</a></li>
        <li><a asp-action="Index" asp-controller="AdsSlider" asp-area="Administrator" class="btn">Ads</a></li>
        <li><a asp-action="" asp-controller="" class="btn">Books</a></li>
        <li><a asp-action="" asp-controller="" class="btn">Articles</a></li>
        <li><a asp-action="" asp-controller="" class="btn">Authors</a></li>
        <li><a asp-action="" asp-controller="" class="btn">Orders</a></li>
        <li><a asp-action="" asp-controller="" class="btn">Feedbacks</a></li>


    </ul>
</div>
