@model BookStore.Models.Author

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FbLink" class="control-label"></label>
                <input asp-for="FbLink" class="form-control" />
                <span asp-validation-for="FbLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstaLink" class="control-label"></label>
                <input asp-for="InstaLink" class="form-control" />
                <span asp-validation-for="InstaLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedInLink" class="control-label"></label>
                <input asp-for="LinkedInLink" class="form-control" />
                <span asp-validation-for="LinkedInLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XLink" class="control-label"></label>
                <input asp-for="XLink" class="form-control" />
                <span asp-validation-for="XLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorImagePath" class="control-label"></label>
                <input asp-for="AuthorImagePath" class="form-control" />
                <span asp-validation-for="AuthorImagePath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

